@charset "UTF-8";

/* body 태그 */
body { 

	/* background-repeat : 반복조절 */
	background-image: url('/img/login/login_img.png');
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(2px);
	/* opacity: 0.5; */
	/* background-position: top; */

}